@import "./utils/general-styles";
@import "./utils/vars";
@import "./components/page-header";
@import "./components/customer-reviews";
@import "./components/products";
@import "./utils/modal";
@import "./components/about";
@import "./components/advantages";
@import "./components/contacts";
@import "./components/gallery";
@import "./components/footer";
@import "./components/contacts-modal";
@import "./components/product1modal";
@import "./components/body-modals"