/*.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.1);
  opacity: 0;
}*/
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms linear, transform 250ms linear;
}

.inner-modal {
  width: 328px;
  height: 681px;
  background-color: var(--white-color);
}

.close-contacts-modal {
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid var(--pink-text);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pink-bg);
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
    transition: all 0.3s linear;
    background: var(--pink-text);
  }
}

.close-icon {
  fill: var(--red-title-text);
  &:hover {
    fill: var(--white-color);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 30px 40px;
  color: var(--red-title-text);
}
.request-form {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 1%;
  color: var(--red-title-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.request-form :hover,
.request-form:focus {
  fill: var(--pink-text);
}

textarea:focus,
textarea:hover,
.request-form label input:focus,
.request-form label input:hover {
  border: 1px solid var(--pink-text);
}
.request-form label input {
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

input {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 40px;
  margin-top: 4px;
}
textarea {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 120px;
  margin-top: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  cursor: pointer;
  color: currentColor;
}
.contacts-request-btn {
  border-radius: 22px;
  border: 2px solid var(--pink-text);
  font-size: 16px;
  text-align: center;
  width: 100px;
  height: 30px;
  background: var(--white-color);
  color: var(--red-svg-home);

  &:hover,
  :focus {
    cursor: pointer;
    transform: scale(1.25);
    transition: all 0.3s linear;
    background: var(--pink-text);
    color: var(--white-color);
  }
}
@media screen and (min-width: 480px) {
  .inner-modal {
    width: 450px;
    height: 609px;
  }
  input {
    width: 370px;
  }
  textarea {
    width: 370px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    .inner-modal {
      width: 528px;
      height: 581px;
    }
    input {
      width: 448px;
    }
    textarea {
      width: 448px;
    }
  }
}
