.section-contacts__title {
  display: none;
}
.section-contacts__list {
  @include displayFlex(column);
  gap: 20px;
}
.section-contacts__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32px 40px;
  gap: 20px;
}
.section-contacts__store {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.one {
  width: 80px;
  height: 16px;
  background: var(--brown-bg);
  border-radius: 4px;
}
.two {
  width: 130px;
  height: 16px;
  background: var(--light-green);
  border-radius: 4px;
}

.section-contacts__subtitle {
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--black-color);
  margin-top: 8px;
}
.section-contacts__text {
  font-size: 12px;
  line-height: 150%;
  color: var(--light-brown-text);
  margin-top: 8px;
}
.section-contacts__schedule {
  width: 100%;
  padding: 24px 0;
  border-bottom: 2px solid#E1E1E1;
  border-top: 2px solid#E1E1E1;
}
.section-contacts__time {
  font-size: 12px;
  line-height: 186%;
  color: var(--pink-text);
}
.section-contacts__contact {
  color: var(--light-brown-text);
}
.section-contact__btn {
  width: 198px;
  height: 44px;
  left: 411px;
  top: 4475px;

  background: #d41342;
  border-radius: 22px;
}
