.footer {
  position: relative;
  background-color: #fff5f6;
  min-width: 320px;

  &__container {
    margin-bottom: 43px;
  }
  &__text {
    width: 232px;
  }

  &__title-first {
    font-size: 18px;
    line-height: 21px;
    color: #ffa5ba;

    cursor: default;
    text-align: left;
    font-family: Titan One;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 40px;
  }
  &__title-second {
    color: #d41443;

    display: flex;
    flex-direction: column;
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  &__title-letter {
    margin-right: -2px;
  }

  &__spase {
    justify-content: flex-end;
  }
  &__title-with-passion {
    margin-top: 16px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 480px;
}
.social-box {
  margin-bottom: 40px;

  &__links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 28px;
  }
  &__icon {
    display: block;
    fill: #ffa5ba;
  }

  &__icon:hover {
    fill: #d41443;
  }
  &__link:focus {
    fill: #d41443;
  }
}

.contact-box {
  font-weight: 700;
  text-align: right;
  line-height: 1.86;
  cursor: default;
  &__phone {
    display: inline-block;
    color: #d41443;
  }
}

.copyright-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  &__text {
    color: #907e82;
    font-weight: 700;
    text-align: center;
    max-width: 150px;
    font-size: 14px;
    line-height: 1.52;
  }
}
