.products-section {
  max-width: 100%;
  padding: 60px 20px;
  background-color: var(--product-section-bg);
  display: flex;
  justify-content: center;
  &__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
.products__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--pink-text);
  text-align: center;
  font-family: "Titan One";
  padding-bottom: 15px;
}
.products__title {
  padding-bottom: 140px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-title-text);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 140px;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 40px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--pink-text);
    text-align: center;
  }
  .product__produse {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 163px;
    padding-bottom: 32px;
  }
  .point {
    display: inline-flex;
    gap: 4px;
    justify-content: center;

    &__item {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      color: aliceblue;
    }
  }
}
.product__information {
  font-weight: 700;
  font-size: 14px;
  text-align: center center;
  color: var(--white-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.button-arow {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.svg-arow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 30px;
  fill: var(--red-title-text);
}

.product__item:first-child:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(/images/products/img1.png);
  background-size: 249px 252px;
  background-color: transparent;
}
.product__item:nth-child(2):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(/images/products/product2.320.png);
  background-size: 249px 252px;
}
.product__item:nth-child(3):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -146px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(/images/products/product3-320.png);
  background-size: 249px 252px;
}
@media (min-width: 768px) {
  .products-section {
    padding: 60px 32px;
  }
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    &__item {
      @include setWidth(3);
    }
  }
}
