.products-section {
  max-width: 100%;
  padding: 60px 20px;
  background: rgb(229, 229, 229);
  background: linear-gradient(
    90deg,
    rgba(229, 229, 229, 1) 0%,
    rgb(197, 235, 186) 41%,
    rgba(231, 229, 200, 0.544) 100%
  );

  display: flex;
  justify-content: center;
  &__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
.products__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--pink-text);
  text-align: center;
  font-family: "Titan One";
  padding-bottom: 15px;
}
.products__title {
  padding-bottom: 140px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-title-text);
}
.product,
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 140px;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 40px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--pink-text);
    text-align: center;
    position: relative;
    transition: 0.5s;
    &:hover {
      box-shadow: inset -3px 6px 22px 15px rgb(174, 198, 244);
      background: rgb(245, 176, 192);
      background: linear-gradient(
        90deg,
        rgb(241, 199, 209) 0%,
        rgb(219, 176, 217) 41%,
        rgb(173, 181, 221) 100%
      );
    }
  }
  .product__produse {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 163px;
    padding-bottom: 32px;
  }
  .point {
    display: inline-flex;
    gap: 4px;
    justify-content: center;

    &__item {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      color: aliceblue;
    }
  }
}
.product__information {
  font-weight: 700;
  font-size: 14px;
  text-align: center center;
  color: var(--white-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.button-arow {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:hover {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
    transition: all 0.3s linear;
    background-color: var(--red-title-text);
    border-radius: 50%;
  }
  fill: currentColor;
  &:hover {
    background: rgb(183, 193, 244);
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(81, 194, 212, 1) 52%
    );
  }
  &:hover .svg-arow {
    transform: rotate(-90deg);
    transition: 0.4s;
  }
}
.svg-arow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 30px;
  fill: var(--red-title-text);
  &:hover {
    fill: var(--white-color);
    transform: rotateZ(0deg);
  }
  &:hover {
    transform: rotate(-90deg);
    transition: 0.7s;
  }
}

.product__item:first-child:before,
.product-description__item:first-child:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(zz/images/products/img1.png);
  background-size: 249px 252px;
  background-color: transparent;
}
.product__item:nth-child(2):before,
.product-description__item:nth-child(2):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(/images/products/prod2.320.png);
  background-size: 249px 252px;
}
.product__item:nth-child(3):before,
.product-description__item:nth-child(3):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -146px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(/images/products/prod3-320-min.png);
  background-size: 249px 252px;
}
.product__item:nth-child(2) {
  background-color: rgba(240, 209, 165, 1);
}
.product__item:nth-child(3) {
  background-color: rgba(194, 226, 151, 1);
}
.product-description {
  height: 500px;
  width: 300px;
  &__item {
.product__item:nth-child(2) {
  background-color: rgba(240, 209, 165, 1);
  &:hover {
    background-color: rgb(237, 211, 174);
  }
}
.product__item:nth-child(3) {
  background-color: rgba(194, 226, 151, 1);
  &:hover {
    background-color: rgb(206, 235, 169);
  }
}
@media (min-width: 768px) {
  .products-section {
    padding: 60px 32px;
  }
  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
    -webkit-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
    -moz-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
    transition: all 0.5s linear;
    background-image: linear-gradient(
      to bottom,
      var(--pink-text) 25%,
      rgba(194, 226, 151, 1) 70%,
      rgba(240, 209, 165, 1)
    );
  }
  &__item:nth-child(2) {
    background-image: linear-gradient(
      to bottom,
      rgba(240, 209, 165, 1) 30%,
      var(--pink-text) 70%,
      rgba(194, 226, 151, 1)
    );
  }
  &__item:nth-child(3) {
    background-image: linear-gradient(
      to top,
      var(--pink-text) 10%,
      rgba(240, 209, 165, 1) 50%,
      rgba(194, 226, 151, 1)
    );
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    &__item {
      @include setWidth(3);
      height: 100%;
    }
  }
  .product__item:first-child:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod1-768-min.png);
    background-size: 249px 252px;
    background-color: transparent;
  }
  .product__item:nth-child(2):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod2-768-min.png);
    background-size: 249px 252px;
  }
  .product__item:nth-child(3):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -146px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod3-768-min.png);
    background-size: 249px 252px;
  }
}
@media (min-width: 1280px) {
  .products-section {
    padding: 60px 16px;
  }
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    &__item {
      @include setWidth(3);
      height: 100%;
    }
  }
  .product__item:first-child:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prid1-1280-min.png);
    background-size: 249px 252px;
    background-color: transparent;
  }
  .product__item:nth-child(2):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod2-768-min.png);
    background-size: 249px 252px;
  }
  .product__item:nth-child(3):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -146px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod3-1280-min.png);
    background-size: 249px 252px;
  }
}
.evident {
  color: var(--red-title-text);
  font-size: 16px;
}
