.products-section {
  max-width: 100%;
  padding: 60px 20px;
  background: rgb(229, 229, 229);
  background: linear-gradient(
    90deg,
    rgba(229, 229, 229, 1) 0%,
    rgb(208, 234, 200) 41%,
    rgba(240, 238, 211, 0.544) 100%
  );

  display: flex;
  justify-content: center;

  &__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
.products__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--pink-text);
  text-align: center;
  font-family: "Titan One";
  padding-bottom: 15px;
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    letter-spacing: 30px;
  }
}
.products__title {
  padding-bottom: 140px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-title-text);
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    letter-spacing: 30px;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 140px;
  &__item {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: var(--pink-text);
    text-align: center;
    position: relative;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      background: rgb(236, 147, 168);
    }
    &:hover .product__information {
      font-size: medium;
    }
  }
  .product__produse {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 163px;
    padding-bottom: 32px;
  }
  .point {
    display: inline-flex;
    gap: 4px;
    justify-content: center;

    &__item {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--white-color);
    }
  }
}
.product__information {
  font-weight: 700;
  font-size: 14px;
  text-align: center center;
  color: var(--white-color);
  padding-top: 32px;
  margin-bottom: 32px;
}
.button-arow {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  fill: currentColor;
  &:hover {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #86dcea 52%);
  }
  &:hover .svg-arow {
    transform: rotate(-90deg);
    transition: 0.4s;
  }
}
.svg-arow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 30px;
  fill: var(--red-title-text);
  &:hover {
    transform: rotate(-90deg);
    transition: 0.7s;
  }
}

.product__item:first-child:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod1-320-min.png);
  background-size: 249px 252px;
  background-color: transparent;
}
.product__item:nth-child(2):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod2-320-min.png);
  background-size: 249px 252px;
}
.product__item:nth-child(3):before {
  content: "";
  position: absolute;
  left: 50%;
  top: -146px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod3-320-min.png);
  background-size: 249px 252px;
}
.product__item:nth-child(2) {
  background-color: rgba(240, 209, 165, 1);
  &:hover {
    background-color: rgb(235, 199, 149);
  }
}
.product__item:nth-child(3) {
  background-color: rgba(194, 226, 151, 1);
  &:hover {
    background-color: rgb(187, 237, 121);
  }
}
@media (min-width: 768px) {
  .products-section {
    padding: 60px 32px;
  }
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    &__item {
      @include setWidth(3);
      height: 100%;
    }
  }
  .product__item:first-child:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod1-768-min.png);
    background-size: 249px 252px;
    background-color: transparent;
  }
  .product__item:nth-child(2):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod2-768-min.png);
    background-size: 249px 252px;
  }
  .product__item:nth-child(3):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -146px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod3-768-min.png);
    background-size: 249px 252px;
  }
}
@media (min-width: 1280px) {
  .products-section {
    padding: 60px 16px;
  }
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    &__item {
      @include setWidth(3);
      height: 100%;
    }
  }
  .product__item:first-child:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prid1-1280-min.png);
    background-size: 249px 252px;
    background-color: transparent;
  }
  .product__item:nth-child(2):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod2-768-min.png);
    background-size: 249px 252px;
  }
  .product__item:nth-child(3):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -146px;
    transform: translateX(-50%);
    z-index: 60;
    width: 249px;
    height: 252px;
    background-image: url(../images/products/prod3-1280-min.png);
    background-size: 249px 252px;
  }
}
