*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 0.04em;
    line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
padding: 30px 20px;
}

.hidden-items {
    display: none;
}