:root {
    // colors for backgrounds
    --pink-bg: #FFB8CA;
    --light-pink-bg: #FFF5F6;
    --product-section-bg: #E5E5E5;
    --how-it-is-made-bg:#FFF5F6;
    --testimonial-card-bg:#FAFAFA;
    --brown-bg: #F0D1A5;
    --light-green:#C2E297;

    // text colors
    --red-title-text: rgba(212, 20, 67, 1);
    --pink-text: #FFA5BA;
    --light-brown-text:#907E82;

    // objects color
    --quotation-svg-color: #E1E1E1;
    --red-dot-color:#C7133E;
    --red-svg-home:#D31342;
    

    // general colors
    --white-color: rgba(255, 255, 255, 1);
    --black-color:#000000;

}

